.main {
  width: 100%;
  color: white;
  font-size: 16px;
}

.welcome {
  color: palegoldenrod;
  font-weight: bold;
}

.location {
  color: pink;
  font-weight: 700;
  height: 100%;
}

.command {
  color: white;
  font-weight: 500;
}

.input {
  color: white;
  font-weight: 500;
  border: none;
  margin: 0;
  padding: 0;
  height: min-content;
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  caret-shape: block;
  font-size: 16px;
}

.prompt {
  display: flex;
  align-items: flex-start;
  width: 100%;
  column-gap: 0.5rem;
}
